<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
<script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio"in window?","+devicePixelRatio:",1")+'; path=/';</script>
<meta charset="UTF-8">
<title>Club Management - SportyHQ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="NGftWNTeOrm8CJ4WaA3oacxYZIbxlWA1fdxo16O0A8I"/>
<meta name="msvalidate.01" content="717591DD6853E346ABE72B602C27A8DC"/>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-touch-fa fa-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-fa fa-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-fa fa-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-touch-fa fa-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-touch-fa fa-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-touch-fa fa-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-touch-fa fa-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-fa fa-152x152.png">
<link href="/assets/cache/css-v1-8bf559282d540376979713f15453e7ba.css" type="text/css" rel="stylesheet">
<!--[if IE]><link href="/assets/css/ie.css" rel="stylesheet" > <![endif]-->
<link href="/assets/css/chrome.css" rel="stylesheet" type="text/chrome">
<!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/html5shiv.js"></script>
    <script type="text/javascript" src="/assets/js/respond.min.js"></script>     
  <![endif]-->
<link rel="shortcut icon" href="/assets/img/fav.ico">
<script>var _prum=[['id','53e9f4bbabe53d357efdae35'],['mark','firstbyte',(new Date()).getTime()]];(function(){var s=document.getElementsByTagName('script')[0],p=document.createElement('script');p.async='async';p.src='//rum-static.pingdom.net/prum.min.js';s.parentNode.insertBefore(p,s);})();</script>
</head>
<body id="login-page" class="middle-layout no-nav-left no-nav-right  nav-top-fixed background-login responsive remove-navbar front-layout clearfix" data-active="login-page " data-smooth-scrolling="1"><noscript><meta HTTP-EQUIV="refresh" content="0;url='http://www.sportyhq.com/learn-more/club-management?PageSpeed=noscript'"/><style><!--table,div,span,font,p{display:none} --></style><div style="display:block">Please click <a href="http://www.sportyhq.com/learn-more/club-management?PageSpeed=noscript">here</a> if you are not redirected within a few seconds.</div></noscript>
<header class="header-2" id="header">
<div class="vd_top-menu-wrapper sales-header-bar">
<div class="container">
<div class="vd_top-nav vd_nav-width  ">
<div class="vd_panel-header">
<div class="logo">
<a href="/?show=home"><script pagespeed_no_defer="">//<![CDATA[
(function(){var g=this,h=function(b,d){var a=b.split("."),c=g;a[0]in c||!c.execScript||c.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===d?c[e]?c=c[e]:c=c[e]={}:c[e]=d};var l=function(b){var d=b.length;if(0<d){for(var a=Array(d),c=0;c<d;c++)a[c]=b[c];return a}return[]};var m=function(b){var d=window;if(d.addEventListener)d.addEventListener("load",b,!1);else if(d.attachEvent)d.attachEvent("onload",b);else{var a=d.onload;d.onload=function(){b.call(this);a&&a.call(this)}}};var n,p=function(b,d,a,c,e){this.f=b;this.h=d;this.i=a;this.c=e;this.e={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.g=c;this.b={};this.a=[];this.d={}},q=function(b,d){var a,c,e=d.getAttribute("pagespeed_url_hash");if(a=e&&!(e in b.d))if(0>=d.offsetWidth&&0>=d.offsetHeight)a=!1;else{c=d.getBoundingClientRect();var f=document.body;a=c.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);c=c.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+c;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.e.height&&c<=b.e.width)}a&&(b.a.push(e),b.d[e]=!0)};p.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&q(this,b)};h("pagespeed.CriticalImages.checkImageForCriticality",function(b){n.checkImageForCriticality(b)});h("pagespeed.CriticalImages.checkCriticalImages",function(){r(n)});var r=function(b){b.b={};for(var d=["IMG","INPUT"],a=[],c=0;c<d.length;++c)a=a.concat(l(document.getElementsByTagName(d[c])));if(0!=a.length&&a[0].getBoundingClientRect){for(c=0;d=a[c];++c)q(b,d);a="oh="+b.i;b.c&&(a+="&n="+b.c);if(d=0!=b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),c=1;c<b.a.length;++c){var e=","+encodeURIComponent(b.a[c]);131072>=a.length+e.length&&(a+=e)}b.g&&(e="&rd="+encodeURIComponent(JSON.stringify(s())),131072>=a.length+e.length&&(a+=e),d=!0);t=a;if(d){c=b.f;b=b.h;var f;if(window.XMLHttpRequest)f=new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(k){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(u){}}f&&(f.open("POST",c+(-1==c.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}},s=function(){var b={},d=document.getElementsByTagName("IMG");if(0==d.length)return{};var a=d[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var c=0;a=d[c];++c){var e=a.getAttribute("pagespeed_url_hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[a.src].k&&a.height>=b[a.src].j)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b},t="";h("pagespeed.CriticalImages.getBeaconData",function(){return t});h("pagespeed.CriticalImages.Run",function(b,d,a,c,e,f){var k=new p(b,d,a,e,f);n=k;c&&m(function(){window.setTimeout(function(){r(k)},0)})});})();pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','http://www.sportyhq.com/learn-more/club-management','CnmAXJALCF',true,false,'XxjvSoQE4ao');
//]]></script><img alt="logo" src="/assets/img/sportyhq-w.png" style="width:115px; margin-top:-7px;" pagespeed_url_hash="2716168610" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="vd_panel-menu visible-sm visible-xs">
<span class="menu visible-xs" data-action="submenu">
<i class="fa fa-bars"></i>
</span>
</div>
</div>
</div>
<div class="vd_container">
<div class="row">
<div class="col-sm-7 col-xs-12">
<div class="vd_mega-menu-wrapper horizontal-menu">
<div class="vd_mega-menu">
<ul class="mega-ul nav">
<li class="mega-li">
<a href="/?show=home" class="mega-link" data-waypoint="home">
<span class="menu-text"><i class="fa fa-home font-md hidden-xs"></i><span class="visible-xs">Home</span></span>
</a>
</li>
<li class="mega-li">
<a href="#" class="mega-link" data-action="click-trigger">
<span class="menu-text"><i class="fa fa-search font-md hidden-xs search_click"></i><span class="visible-xs">Search</span></span>
</a>
<div class="vd_mega-menu-content  width-xs-4  right-xs hover-target no-top" data-action="click-target">
<div class="child-menu">
<div class="content-list content-menu">
<form class="navbar-form navbar-left" id="global_search_form" role="search" style="margin-top: -2px;">
<input type="hidden" id="global_search" class="form-control" placeholder="Search..." style="width: 290px; margin-top: 20px !important;">
</form>
</div>
</div>
</div>
</li>
<li class="mega-li hover-trigger">
<a href="#" class="mega-link" data-action="click-trigger">
<span class="menu-text">Products & Services</span> <i class="fa fa-caret-down prepend-icon"></i>
</a>
<div class="vd_mega-menu-content  width-xs-3  right-xs hover-target no-top" data-action="click-target">
<div class="child-menu">
<div class="content-list content-menu">
<ul class="list-wrapper pd-lr-10">
<li><a href="/learn-more/tournaments">Tournaments</a></li>
<li><a href="/learn-more/leagues">Leagues</a></li>
<li><a href="/learn-more/ladders-and-rankings">Ladders & Rankings</a></li>
<li><a href="/learn-more/bookings">Bookings</a></li>
<li><a href="/learn-more/club-management">Club Management</a></li>
<li><a href="/learn-more/organizational-bodies">Organizational Bodies</a></li>
</ul>
</div>
</div>
</div>
</li>
<li class="mega-li">
<a href="/about-us" class="mega-link" data-waypoint="services">
<span class="menu-text">About Us</span>
</a>
</li>
<li class="mega-li">
<a href="/contact-us" class="mega-link" data-waypoint="clients">
<span class="menu-text">Contact Us</span>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-sm-5 col-xs-12">
<div class="vd_mega-menu-wrapper">
<div class="vd_mega-menu pull-right">
<ul class="mega-ul">
<li id="top-menu-1" class="one-icon mega-li">
<a href="#" class="signin btn vd_btn vd_btn-bevel vd_bg-yellow font-semibold" data-toggle="modal" data-target="#create_account">Create Account</a>
</li>
<li id="top-menu-2" class="one-icon mega-li">
<a href="/authentication/login?return_to=%2Flearn-more%2Fclub-management" class="btn vd_btn vd_btn-bevel vd_bg-yellow font-semibold"><i class="fa fa-power-off"></i> Login</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<style type="text/css">html,body{height:100%;background-color:#fff!important}.hq-masthead,.hq-header{position:relative;padding:30px 15px;margin-bottom:30px;color:#cdbfe3;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,.1);background-color:#a22929;width:100%;background-repeat:none}img.glow{box-shadow:0 0 .6em #000}.hq-masthead .hq--booticon{margin:0 auto 30px}.hq-masthead h1{font-weight:500;margin-top:50px;line-height:1;color:#fff}.hq-masthead .lead{margin:0 auto 30px;font-size:20px;color:#fff}.hq-masthead .version{margin-top:-15px;margin-bottom:30px;color:#9783b9}.hq-masthead .btn{width:100%;padding:15px 30px;font-size:20px}@media (min-width:480px){.hq-masthead .btn{width:auto}}@media (min-width:768px){.hq-masthead{padding-top:80px;padding-bottom:80px}.hq-masthead h1{font-size:60px}.hq-masthead .lead{font-size:24px}}@media (min-width:992px){.hq-masthead .lead{width:80%;font-size:30px}}h2.sales-title{font-size:30px;font-weight:500px;font-color:#000}h2.sales-title span{color:#de482b}.title-line{margin:10px auto 30px auto;width:100px;height:2px;background-color:#de482b}.sales-content{font-size:14px!important;margin:10px 0 70px 0}.sales-content p{font-size:14px!important}</style>
<main class="hq-masthead" id="content" role="main">
<div class="container">
<h1>Club Management</h1>
<p class="lead">Manage member profiles, run reports and easily communicate with your member base.</p>
</div>
</main>
<div class="vd_bg-off-white" style="margin-top: -30px !important; padding: 50px;">
<div class="container">
<div class="row">
<div class="col-md-7">
<br><br>
<h2>Manage Members and Sports Effortlessly</h2>
<p class="lead">SportyHQ makes it easy for clubs to setup and manage sports and members online. And when you add a member, they join a larger ecosystem of players worldwide in their given sport that lets them compete and enjoy the challenge of their sport like never before.</p>
<p class="lead">SportyHQ can also power your <strong>court & room bookings</strong>, <strong>club ladders</strong>, <strong>box leagues</strong>, <strong>membership payments</strong> and more.</p>
<br><br>
<p><span class="label label-primary">NEW</span> Give your members rankings <strong>for free</strong>! See more below...</p>
</div>
<div class="col-md-5">
<img src="/assets/img/sports-many.jpg" class="img-responsive" pagespeed_url_hash="891007737" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
</div>
</div>
</div>
<br><br><br>
<div class="container">
<div class="row">
<div class="col-md-5">
<div data-scroll-reveal="enter left and move 200px over 1.3s">
<img src="/assets/img/xclub-management-page.jpg.pagespeed.ic.pXVguRvJd9.webp" class="img-responsive" pagespeed_url_hash="878245104" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" width="800" height="580">
</div>
</div>
<div class="col-md-7">
<h3>It all starts with your club profile page...</h3>
<p class="lead">An elegant profile page that includes all of the important information for both existing and perspective players, including:</p>
<ul class="fa-ul lead">
<li><i class="fa-li fa fa-check-circle-o"></i>Club address and contact information.</li>
<li><i class="fa-li fa fa-check-circle-o"></i>General information about the club.</li>
<li><i class="fa-li fa fa-check-circle-o"></i>Information on club facilities & parking.</li>
<li><i class="fa-li fa fa-check-circle-o"></i>Member rankings.</li>
<li><i class="fa-li fa fa-check-circle-o"></i>Club news.</li>
<li><i class="fa-li fa fa-check-circle-o"></i>Links to box leagues, tournaments and events at the club.</li>
</ul>
</div>
</div>
</div>
<hr style="margin-top:0 !important;">
<br><br><br>
<div class="container">
<p class="text-center lead">Incredibly Powerful Court & Room Bookings</p>
<div class="row">
<div class="col-md-12">
<div data-scroll-reveal="enter bottom and move 100px over 1.5s">
<img src="/assets/img/booking-3-screens.jpg" class="img-responsive" pagespeed_url_hash="1792038781" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<br><br>
<p class="lead text-center">
Our bookings engine is so advanced, it is able to power clubs with even the most complicated of booking rules.<br>
<a href="/learn-more/bookings">Click here</a> to learn more about this feature.
</p>
</div>
</div>
</div>
</div>
<br><br>
<div class="vd_bg-yellow vd_white">
<div class="container">
<br><br><br>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<p class="lead text-center">
Administer Box Leagues to Increase Competition and Opportunities to Play
</p>
<br>
<img src="/assets/img/box-league-phone.png" class="img-responsive" pagespeed_url_hash="1898968588" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<br><br>
<p class="lead">
Your members will love the added opportunities that box leagues create. It gives them an ongoing way to play challenges against similarly ranked players while allowing flexibility to schedule matches based around their schedules. At the end of a box cycle, SportyHQ makes it <em>simple</em> to start your next box cycle, with auto-promotion/demotion of players and features that let you quickly add, remove and move players from boxes.
</p>
</div>
</div>
<br><br><br>
</div>
</div>
<br><br>
<div class="container">
<div class="row">
<div class="col-md-3 col-md-offset-1">
<div data-scroll-reveal='enter left and move 200px over 0.8s'>
<h2><i class="fa fa-bullhorn fa-5x"></i></h2>
</div>
</div>
<div class="col-md-7">
<h3>Communicate With Ease...</h3>
<p class="lead">
SoprtyHQ also makes communicating with your members easy. No more managing email lists. When you need to post an announcement or send out an email blast, SportyHQ automatically keeps your member lists up to date, so all you have to do is focus on writing your announcement. The rest is done by us.
</p>
</div>
</div>
</div>
<br><br>
<hr>
<br><br>
<div class="container">
<h2>Pricing</h2>
<ul class="list-inline">
<li><strong>Select Currency:</strong></li>
<li>$CAD</li>
<li><a href="/learn-more/club-management?currency=USD">$USD</a></li>
<li><a href="/learn-more/club-management?currency=AUD">$AUD</a></li>
<li><a href="/learn-more/club-management?currency=GBP">£GBP</a></li>
<li><a href="/learn-more/club-management?currency=EUR">€EUR</a></li>
</ul>
<div class="vd_pricing-table">
<div class="col-md-6 col-lg-3">
<div class="plan" style="min-height:900px;">
<div class="plan-header vd_bg-blue vd_white text-center vd_info-parent">
<h3 class="pd-20 mgbt-xs-0">LIGHT</h3>
<div class="price vd_bg-black-30"> <span class="main"></span><span class="suffix"><span class="font-light">FREE</span></span> </div>
<i class="caret-pos fa fa-caret-up vd_white"></i> </div>
<div class="features vd_bg-white font-sm content-list" style="min-height: 750px !important;">
<ul class="list-wrapper">
<li>Club Ladder</li>
<li>Member Rankings</li>
<li>Members can record challenge and friendly matches.</li>
<li>1 Club Administrator</li>
<li>Club Profile Page</li>
<li>Add, edit & remove members</li>
<li>Add coaches</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 mgbt-xs-20 mgbt-md-0">
<div class="plan featured" style="min-height:900px !important;">
<div class="plan-header vd_bg-yellow vd_white text-center vd_info-parent">
<h3 class="pd-20 mgbt-xs-0"><br>STANDARD</h3>
<div class="price vd_bg-black-30"> <span class="main"><span class="font-light">$</span><span class="font-bold">15</span> </span> <span class="suffix">00</span> <span class="text">/month</span> </div>
<i class="caret-pos fa fa-caret-up vd_white"></i>
</div>
<div class="features vd_bg-white font-sm content-list" style="min-height: 750px !important;">
<ul class="list-wrapper">
<li>Create Unlimited <strong>Box Leagues</strong></li>
<li>Post Announcements</li>
<li>Email Members</li>
<li>Unlimited Club Administrators</li>
<li>Enter Results on behalf of Club Members</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="plan featured" style="min-height:900px;">
<div class="plan-header vd_bg-red vd_white text-center vd_info-parent">
<h3 class="pd-20 mgbt-xs-0"><u>ADD ON</u> BASIC<br>COURT BOOKINGS</h3>
<div class="price vd_bg-black-30"> <span class="main"><span class="font-light">$</span><span class="font-bold">10</span> </span> <span class="suffix">00</span> <span class="text">/court/month</span> </div>
<i class="caret-pos fa fa-caret-up vd_white"></i> </div>
<div class="features vd_bg-white font-sm content-list" style="min-height: 750px !important;">
<ul class="list-wrapper" style="height: 100% !important;">
<li>Online Court Bookings</li>
<li>Member Email Notifications with iCal</li>
<li>Unlimited Courts & Rooms</li>
<li>Create Peak Time Slots</li>
<li>Support Multiple Sports</li>
<li>Fully customize court booking times</li>
<li>1 Membership Category <i class="fa fa-info-circle" data-rel="tooltip" title="Membership categories let you define membership types and apply a high degree of control over their booking privileges."></i></li>
<li>Hide Names on Bookings</li>
<li>Block Bookings</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="plan featured" style="min-height:900px;">
<div class="plan-header vd_bg-red vd_white text-center vd_info-parent">
<h3 class="pd-20 mgbt-xs-0"><u>OR</u> ADVANCED COURT BOOKINGS</h3>
<div class="price vd_bg-black-30"> <span class="main"><span class="font-light">$</span><span class="font-bold">20</span> </span> <span class="suffix">00</span> <span class="text">/court/month</span> </div>
<i class="caret-pos fa fa-caret-up vd_white"></i> </div>
<div class="features vd_bg-white font-sm content-list" style="min-height: 750px !important;">
<ul class="list-wrapper">
<li>All of basic, plus:</li>
<li>Up to 5 Membership Categories<br><small><a href="#contact">Contact Us</a> for more</small></li>
<li>SMS Booking Reminders <i class="fa fa-info-circle" data-rel="tooltip" title="Booking holders can receive an SMS 1 hour before their reservation time. If they want to cancel, there is a link in the SMS that they can click."></i></li>
<li>Link "Assets" <i class="fa fa-info-circle" data-rel="tooltip" title="You can link assets that could be booked together. For example, if you had a court with a movable wall that would occupy another asset when expanded, this would be a linked asset."></i></li>
<li>Group Assets (e.g. Inside Courts)</li>
<li>TV Display View</li>
</ul>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<br><br>
<p>
<strong>Example:</strong>
Let's say you're a squash club with 3 courts and you want to use SportyHQ to run your club ladder and online bookings. You would pay $15 per month + either $10 or $20 per court per month, depending on which plan above you choose. So your total cost would be $45 or $75 per month.
</p>
</div>
<br><br>
<hr>
<br><br>
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<br>
<a name="contact"></a>
<p>If you're interesting in learning how SportyHQ can help your club, then please fill in the form below.</p>
<div id="wufoo-redllyn099kj86">
</div>
<script type="text/javascript">var redllyn099kj86;(function(d,t){var s=d.createElement(t),options={'userName':'sportyhq','formHash':'redllyn099kj86','autoResize':true,'height':'1002','async':true,'host':'wufoo.com','header':'hide','defaultValues':'Field9=Clubs','ssl':true};s.src=('https:'==d.location.protocol?'https://':'http://')+'wufoo.com/scripts/embed/form.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{redllyn099kj86=new WufooForm();redllyn099kj86.initialize(options);redllyn099kj86.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');</script>
</div>
<br><br><br><br>
</div>
</div>
</div>
<br><br><br><br>
<footer class="footer-2" id="footer" style="margin-top: -30px !important;">
<div class="vd_bottom ">
<div class="container">
<br><br>
<div class="row">
<div class="col-md-4 nav-box">
<h3>Products</h3>
<ul>
<li><a href="/learn-more/tournaments">Tournaments</a></li>
<li><a href="/learn-more/leagues">Leagues</a></li>
<li><a href="/learn-more/ladders-and-rankings">Ladders & Rankings</a></li>
<li><a href="/learn-more/bookings">Court & Room Bookings</a></li>
<li><a href="/learn-more/club-management">Club Management</a></li>
<li><a href="/learn-more/organizational-bodies">Organizational Bodies</a></li>
</ul>
</div>
<div class="col-md-4 nav-box">
<h3>Explore SportyHQ</h3>
<ul>
<li><a href="/?show=home"><i class="fa fa-home"></i> Site Home</a></li>
<li><a href="/tournament"><i class="fa fa-trophy"></i> Tournaments</a></li>
<li><a href="/league"><i class="fa fa-sitemap"></i> Leagues</a></li>
<li><a href="/ranking"><i class="fa fa-reorder"></i> Rankings</a></li>
<li><a href="/book"><i class="fa fa-calendar"></i> Bookings</a></li>
<li><a href="/club"><i class="fa fa-building"></i> Clubs</a></li>
<li><a href="/coach"><i class="fa fa-thumbs-up"></i> Coaches</a></li>
</ul>
</div>
<div class="col-md-4 nav-box">
<h3>Information</h3>
<ul>
<li><a href="/about-us">About us</a></li>
<li><a href="/privacy-policy">Privacy Policy</a></li>
<li><a href="/terms-of-service">Terms & Conditions</a></li>
<li><a href="/contact-us">Contact Us</a></li>
</ul>
</div>
</div>
<hr>
<div class="row">
<div class=" col-xs-12">
<div class="copyright text-center">
2014 &copy; SportyHQ, LLC. ALL Rights Reserved. <br class="visible-xs">
<a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a>
</div>
</div>
</div>
</div>
</div>
</footer>
<div id="create_account" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ca_title" aria-hidden="true" style="display:none;">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h2 class="modal-title" id="ca_title">Create Account</h2>
</div>
<div class="modal-body">
<form action="/sign-up" method="post" class="form-vertical" role="form" style="margin-bottom: 10px;" id="x_form_create_account_544dce59223a8">
<input type="hidden" name="prefix" value="popup_">
<p>To create your free SportyHQ account, please fill in the form below.</p>
<div class="row">
<div class="form-group col-md-6">
<label for="popup_first_name" class="control-label">First Name</label>
<input type="text" name="popup_first_name" class="form-control" id="popup_first_name">
</div>
<div class="form-group col-md-6">
<label for="popup_last_name" class="control-label">Last Name</label>
<input type="text" name="popup_last_name" class="form-control" id="popup_last_name">
</div>
</div>
<div class="form-group">
<label for="popup_email" class="control-label">Email Address</label>
<input type="email" name="popup_email" class="form-control" id="popup_email">
</div>
<p class="text-muted">By clicking the "Create Account" button below, you agree and accept our <a href="#">terms of service</a> and <a href="#">privacy policy</a>.</p>
<button type="submit" class="btn btn-success">Create Account</button>
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
</form>
</div>
</div>
</div>
</div>
<div id="confirmation_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cd_title" aria-hidden="true" style="display:none;">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 class="modal-title" id="cd_title"></h3>
</div>
<div class="modal-body">
<p id="cd_body"></p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<a id="cd_url" class="x_submit btn btn-danger">Yes</a>
</div>
</div>
</div>
</div>
<div id="x_popup_div" class="modal fade"></div>
<div id="_dialog" style="display:none;"></div>
<span style="display:none;" id="x_success_message"></span>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/cache/js-8007c7a8a0174caf3fe0818106e7dc00.min.js"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="/assets/js/excanvas.js"></script>      
  <![endif]-->
<script type="text/javascript">section="learn-more";lang_fix_error="Please fix the error below";lang_fix_errors="Please fix the errors below";function vcenter(){$(".v-center-after").each(function(){$(this).css('height',$(this).prev('div').height());});$(".v-center-before").each(function(){$(this).css('height',$(this).next('div').height());});}
$(function(){window.scrollReveal=new scrollReveal();$(".search_click").click(function(){$("#global_search_form input[type='text']").click();});$("a[id='learn_more_mobile_button']").click(function(){$('html, body').animate({scrollTop:$("#learn_more_mobile").offset().top-80},500);});$("a[id='learn_more_button']").click(function(){$('html, body').animate({scrollTop:$("#learn_more").offset().top-80},500);});$(window).resize(vcenter);vcenter();$("#da-slider").cslider()});</script>
<script type="text/javascript">var __lc={};__lc.license=1563311;__lc.group=5;(function(){var lc=document.createElement('script');lc.type='text/javascript';lc.async=true;lc.src=('https:'==document.location.protocol?'https://':'http://')+'cdn.livechatinc.com/tracking.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(lc,s);})();</script>
<script type="text/javascript">//<![CDATA[
var google_conversion_id=972036504;var google_custom_params=window.google_tag_params;var google_remarketing_only=true;
//]]></script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/972036504/?value=0&amp;guid=ON&amp;script=0" pagespeed_url_hash="1188497496"/>
</div>
</noscript>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-39524868-1','sportyhq.com');ga('send','pageview');</script>
<script pagespeed_no_defer="">//<![CDATA[
(function(){var f=function(b){var a=window;if(a.addEventListener)a.addEventListener("load",b,!1);else if(a.attachEvent)a.attachEvent("onload",b);else{var c=a.onload;a.onload=function(){b.call(this);c&&c.call(this)}}};window.pagespeed=window.pagespeed||{};var k=window.pagespeed,l=function(b,a,c,g,h){this.e=b;this.f=a;this.h=c;this.g=g;this.b=h;this.c=[];this.a=0};l.prototype.d=function(b){for(var a=0;250>a&&this.a<this.b.length;++a,++this.a)try{null!=document.querySelector(this.b[this.a])&&this.c.push(this.b[this.a])}catch(c){}this.a<this.b.length?window.setTimeout(this.d.bind(this),0,b):b()};
k.i=function(b,a,c,g,h){if(document.querySelector&&Function.prototype.bind){var d=new l(b,a,c,g,h);f(function(){window.setTimeout(function(){d.d(function(){for(var a="oh="+d.h+"&n="+d.g,a=a+"&cs=",b=0;b<d.c.length;++b){var c=0<b?",":"",c=c+encodeURIComponent(d.c[b]);if(131072<a.length+c.length)break;a+=c}k.criticalCssBeaconData=a;var b=d.e,c=d.f,e;if(window.XMLHttpRequest)e=new XMLHttpRequest;else if(window.ActiveXObject)try{e=new ActiveXObject("Msxml2.XMLHTTP")}catch(g){try{e=new ActiveXObject("Microsoft.XMLHTTP")}catch(h){}}e&&
(e.open("POST",b+(-1==b.indexOf("?")?"?":"&")+"url="+encodeURIComponent(c)),e.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),e.send(a))})},0)})}};k.criticalCssBeaconInit=k.i;})();
pagespeed.selectors=[".badge",".hq-header",".hq-masthead",".hq-masthead .btn",".hq-masthead .hq--booticon",".hq-masthead .lead",".hq-masthead .version",".hq-masthead h1",".input-group-btn .btn",".sales-content",".sales-content p",".title-line","body","h2.sales-title","h2.sales-title span","html","img.glow"];pagespeed.criticalCssBeaconInit('/mod_pagespeed_beacon','http://www.sportyhq.com/learn-more/club-management','CnmAXJALCF','3kTBnla0zFM',pagespeed.selectors);
//]]></script></body>
</html>