<% if @player && @player.errors.any? %>
  <div>
    <strong>Username not found, please fix errors and try again.</strong>
    <ul>
      <% @player.errors.full_messages.each do |player| %>
        <li><%= player %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method = "post" action ="/login" class="form-horizontal" role="form">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-info">PLEASE LOGIN HERE!</h1>
    </div>
  </div>

  <div class="row">
    <div class="form-group top-buffer">
      <label for="Email" class="col-sm-1 control-label">Email:</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="Email" placeholder="Email">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group top-buffer">
      <label for="Password" class="col-sm-1 control-label">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="Password" placeholder="Password">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group top-buffer">
      <div class="col-sm-11 col-sm-offset-1">
        <button type="submit" value="Login" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </div>

</form>




