<% if @player && @player.errors.any? %>
  <div>
    <strong>Username not found, please fix errors and try again.</strong>
    <ul>
      <% @player.errors.full_messages.each do |player| %>
        <li><%= player %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method = "post" action ="/login" class="form-horizontal" role="form">
  <div class="page-header">
    <h1>
          <img alt="Brand" src="https://www.sportyhq.com/assets/img/sportyhq-w.png">
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-info">PLEASE LOGIN HERE!</h3>
    </div>
  </div>

  <div class="row">
    <div class="form-group top-buffer">
      <label for="Email" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="Email" placeholder="Email">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group top-buffer">
      <label for="Password" class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="Password" placeholder="Password">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group top-buffer">
      <div class="col-sm-12 col-sm-offset-2">
        <button type="submit" value="Login" class="btn btn-default">
          <span class="glyphicon glyphicon-off"></span> Login
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group top-buffer">
      <div class="col-sm-12 col-sm-offset-2">
        <iframe width="560" height="315" src="//www.youtube.com/embed/c736R21D5wc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</form>





