<% if @player && @player.errors.any? %>
  <div>
    <strong>Some issues with your Username, please fix them:</strong>
    <ul>
      <% @player.errors.full_messages.each do |player| %>
        <li><%= player %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form method = "post" action ="/signup" class="form-horizontal" role="form">
  
  <div class="page-header">
    <h1>
        <img alt="Brand" src="https://www.sportyhq.com/assets/img/sportyhq-w.png">
    </h1>
  </div>

  <div class="row">
    <div>
      <h3 class="text-info"> SIGN UP HERE!</h3>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">First Name:</label>
      <div class="col-sm-4">
        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First name">
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="form-group">
      <label for="last" class="col-sm-2 control-label">Last Name:</label>
      <div class="col-sm-4">
        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last name">
      </div>
    </div>
  </div>
  

  <div class="row top-buffer">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-4">
        <input type="text" name="email" class="form-control" id="email" placeholder="Email address">
      </div>
    </div>
  </div>


  <div class="row top-buffer">
    <div class="form-group">
      <label <label for="Password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-4">
      <input type="password" name="password" class="form-control" id="Password" placeholder="Password">
    </div>
  </div>

   <!-- <div>
    <label>Last Name:</label>
    <input type="text" name="lastname">
  </div>
   <div>
    <label>Email:</label>
    <input type="text" name="email">
  </div>
   <div>
    <label>Password:</label>
    <input type="text" name="password">

  </div> -->
  
  <div class="row top-buffer2">
    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-2">
        <button type="submit" value="Submit" class="btn btn-default">
          <span class="glyphicon glyphicon-off"></span> Sign up
        </button>
      </div>
    </div>
  </div>

</form>





