
<h1>start match here</h1>

  replace this with a label
<!--   <#% player1.name %>
  <#% player2.name %> -->



<form method="post" action="/match/create" >
   <select name="ServeFirst" id="ServeFirst">
      <option value ='default'>Select Game 1 Server</option>
      <option value = "<%= @selected_players1 %>"><%= @selected_players1.first_name %></option>
      <option value = "<%= @selected_players2 %>"><%= @selected_players2.first_name %></option>

  </select>


<h1 class="text-info">START MATCH HERE!</h1>


<form method="post" action="/match/create">
    
    <div class="btn-group col-sm-2">
      <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        player1<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

<!--   <button type="submit" class="btn btn-primary">Start Match</button> -->
  <button type="submit" data-toggle="modal" data-target="#serve_side_modal" class="btn btn-primary">Serve Side</button>


</form>



    <div class="btn-group col-sm-2">
      <button class="btn btn-success btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        player2<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

      </ul>
    </div>

    <!-- SELECT PLAYER TO SERVE  START-->
    <div class="btn-group col-sm-2">
      <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        Select Server<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

      </ul>
    </div>
    


    <!-- SELECT PLAYER TO SERVE END -->
 
    <div class="btn-group col-sm-2">
      <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
    </div>

     

<h1 class="text-info">Squasher</h1>

<!-- brandons -->
<div class="row">
  <div class="col-md-3"><button type="submit" class="btn btn-default btn-lg btn-block">Left</button></div>
  <form method="post" action="rallies/new_player_1_rally">
    <div class="col-md-3"><button type="submit" class="btn btn-primary btn-lg btn-block">Point for Player 1</button></div>
  </form>
  <div class="col-md-3"><button type="submit" class="btn btn-success btn-lg btn-block">Point for Player 2</button></div>
  <div class="col-md-3"><button type="submit" class="btn btn-default btn-lg btn-block">Right</button></div>

</div>



<p></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Rally</th>
            <th class="col-md-5">Player 1: Score</th>
            <th class="col-md-6">Player 2: Score</th>
        </tr>
    </thead>
    <tbody>
   
<!-- Modal -->
<div class="modal fade" id="serve_side_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Serve Side</h4>
      </div>
      <div class="modal-body">



 
      <div class="row">
            <button type="button" class="btn btn-info col-sm-4 col-sm-offset-2"> SERVING LEFT</button>
            <button type="button" class="btn btn-warning col-sm-4" >SERVING RIGHT</button>
      </div>
        



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

</form>






