<!-- <h1>Home Page</h1>
<h2> SQUASHER </h2>

<h2><a href="/login">Login!</a></h2>
<h2><a href="/logout">Logout!</a></h2>
<h2><a href="/signup">Sign Up</a></h2>
 -->
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/application.css">
    </head>

<body>
<h1 class="text-info">Squasher</h1>

<div class="row">
  <div class="col-md-3"><button type="button" class="btn btn-default btn-lg btn-block">Left</button></div>
  <div class="col-md-3"><button type="button" class="btn btn-primary btn-lg btn-block">Point for Player 1</button></div>
  <div class="col-md-3"><button type="button" class="btn btn-success btn-lg btn-block">Point for Player 2</button></div>
  <div class="col-md-3"><button type="button" class="btn btn-default btn-lg btn-block">Right</button></div>
</div>

<p></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Rally</th>
            <th class="col-md-5">Player 1: Score</th>
            <th class="col-md-6">Player 2: Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>14</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>
>>>>>>> origin/create_models
